*{
	margin: 0;
	padding: 0;
}

body {

}

header {
	background: url(imgs/site.jpg);
	position: relative;
	background-size: cover;
	width: 920px;
	height: 451px;
	margin: 0 auto;
	font-family: 'Scada', sans-serif;
}

header .space {
	height: 72px;
	width: 300px;
}

header .green-tape {
	width: 681px;
	margin-left: 3px;
	-webkit-transform: rotate(-8deg); /* Для Safari и Chrome */
    -moz-transform: rotate(-8deg); /* Для Firefox */
    -o-transform: rotate(-8deg); /* Для Opera */
    -ms-transform: rotate(-8deg); /* Для IE */
    transform: rotate(-8deg); /* CSS3 */
}	

header .green-tape h1 {
	padding: 16px 0 10px 63px;
	font-size: 40px;
	line-height: 1.1;
	color: white;
	font-style: italic;
	letter-spacing: 1px;
}


header .green-tape h2 {
	display: inline-block;
	width: 215px;
	margin-top: 34px;
	margin-left: 206px;
	padding-left: 24px;
	font-size: 37px;
	text-transform: uppercase;
	color: white;
	font-style: italic;
	line-height: 1;
}

header h3 a {
	position: absolute;
	top: 162px;
	left: 503px;
	font-size: 32px;
	text-transform: uppercase;
	color: black;
	font-style: italic;
	text-decoration: none;
}

header h3 a:hover, header h3 a:active {
	color: red;
}

section {
	position: relative;
	width: 920px;
	margin: 0 auto;
	font-family: 'Scada', sans-serif;
}

section .section-line {
	width: 329px;
	display: inline-block;
	border-bottom: 3px solid black;
	padding-bottom: 0px;
}


#history h2 {
	margin: 25px 80px 25px 80px;
	display: inline-block;
	text-transform: uppercase;
	color: #01a217;
}

#history .content p {
	margin: 5px 10px;
}






